body {
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Arial, Helvetica, sans-serif;
}
.Heads {
    overflow: auto;
    border-bottom: 5px solid black;
}
.Heads img {
    float: left;
    margin-right: 15px;
}
.Heads h1 {
    float: left;
}
.Maker {
    width: 725px;
    overflow: auto;
    margin-bottom: 50px;
    margin-left:5px;
    margin-right: 5px;
    border: 2px solid black;
    background-color: darkgreen;
}
.Maker img {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.Maker img:hover{
    transform: scale(1.1);
}
.bust{
    border: 2px solid black;
    overflow: auto;
    width: 655px;
    margin-right: 5px;
    margin-left: 13px;
    background-color: darkgreen;
}
a:visited {
    color: yellow;
}
.wrap {
    overflow: auto;
    width: 100%;
}
.recotacts{
    border: 2px solid black;
    padding: 20px;
    width: 350px;
    margin:15px;
    margin-top: 100px;
    overflow:auto;
    display:inline-block;
    background-color: white;
}
nav {
    background-color: green;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 20px;
    border: 2px solid darkolivegreen;
}
.grow {
    margin: 10px;
    border: 2px solid cadetblue;
    display: inline-block;
    background-color: red;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease;
}
.grow:hover {
    background-color: orange;
    transform: scale(1.5);
}
.mess{
	background: url('Sprite.jpg') no-repeat -64px -84px;
    background-size: 455px 155px;
    width: 38px;
	height: 37px;
    display: inline-block;
}
.face {
	background: url('Sprite.jpg') no-repeat -23px -33px;
    background-size: 455px 155px;
    width: 38px;
	height: 37px;
    display: inline-block;
}
.social {
    list-style: none;
}
footer {
    margin-top: 50px;
    text-align: center;
    border: 2px solid darkolivegreen;
    background-color: green;
    clear: both;
}
.about {
    margin-top: 40px;
    display:inline-block;

}
