body {
    background-color: lightgray;
    font-family: Cambria, Cochin, Georgia, Arial, Helvetica, sans-serif;
}
.Heads {
    overflow: auto;
    border-bottom: 5px solid black;
}
.Heads img {
    float: left;
    margin-right: 15px;
}
.Heads h1 {
    float: left;
}
nav {
    background-color: green;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 20px;
    border: 2px solid darkolivegreen;
}
.grow {
    margin: 10px;
    border: 2px solid cadetblue;
    display: inline-block;
    background-color: red;
    cursor: pointer;
    transition: background-color 0.4s ease, transform 0.4s ease;
}
.grow:hover {
    background-color: orange;
    transform: scale(1.5);
}
a:visited {
    color: yellow;
}
footer {
    margin-top: 50px;
    text-align: center;
    border: 2px solid darkolivegreen;
    background-color: green;
}
#Avoca p:nth-of-type(1) {
    font-style: italic;
    color: firebrick;
}
#problems p:nth-of-type(2) {
    font-style: italic;
    color: steelblue;
}
#philibean p:nth-of-type(3) {
    font-style: italic;
    color: goldenrod;    
}